@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #333333;
    --third-color: #E57521;
}



body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: 'Poppins';
    display: inline;
}

/* .navbar-with-hero .logo {
    text-decoration: none;
    font-weight: bold;
    color: var(--secondary-color);
    font-size: 1.2em;
}

.navbar-with-hero .logo span {
    color: var(--third-color);
} */

.wraper {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto 40px;
    grid-template-areas: 
    "h h h h h h h h2 h2 h2 h2 h2"
    "h h h h h h h h2 h2 h2 h2 h2"
    "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
}

.header-secondary {
    grid-area: h2;
}

.footer {
    grid-area: f;
}